<div class="ui container contentContainerInner">
  <div class="ui segment">
    <form class="ui form">
      <div class="field">
        <label>CPF Cliente</label>
        <input type="text" ng-model="selling.customerCpf" class="mask cpf" placeholder="CPF Cliente">
      </div>
      <div class="field">
        <label>Codigo / Nome Produto</label>
        <input type="text" ng-model="searchTerm" placeholder="Codigo / Nome" ng-change="search();">
        <div class="ui relaxed divided list">
          <div class="item" ng-repeat="product in suggestionItems">
            <div class="right floated content">
              <a class="ui small primary labeled icon button" ng-click="add(product);">
                <i class="add to cart icon"></i> Adicionar
              </a>
            </div>
            <div class="content">
              <div class="header">{{product.code}}</div>
              {{product.name}} - {{product.category}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="ui dimmable resultTable" ng-show="selling.items.length > 0">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Preco</th>
          <th>Desconto (%)</th>
          <th>Quantidade</th>
          <th>Preco Total</th>
          <th>Acoes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in selling.items track by $index">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>
            <div class="ui input">
              <input type="number" ng-model="item.discount" ng-change="updatePrices();">
            </div>
          </td>
          <td>
            <div class="ui input">
              <input type="number" ng-model="item.quantity" ng-change="updatePrices();">
            </div>
          </td>
          <td>{{item.totalPrice | currency}}</td>
          <td>
            <button class="ui icon red button" ng-click="delete($index);">
              <i class="trash icon"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{selling.totalPrice | currency}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    <a class="ui massive green labeled icon button" style="width: 100%;" ng-click="confirm();">
      <i class="money icon"></i> Confirmar
    </a>
  </div>
</div>
